:root {
  --white: #fff;
  --black: #000;
  --font-color-super-light: #ecf1fd;
  --font-color-light: #677787;
  --font-color-dark: #040404;
  --font-color-link: #377cfe;
  --btn-color: #2476fe;
  --bg-contrast: #f9fafe;
  --bg-hire-us: #20335b;

  --size-8: 0.5rem;
  --size-10: 0.625rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;
}

.hind-light {
  font-family: "Hind", system-ui;
  font-weight: 300;
  font-style: normal;
}

.hind-regular {
  font-family: "Hind", system-ui;
  font-weight: 400;
  font-style: normal;
}

.hind-medium {
  font-family: "Hind", system-ui;
  font-weight: 500;
  font-style: normal;
}

.hind-semibold {
  font-family: "Hind", system-ui;
  font-weight: 600;
  font-style: normal;
}

.hind-bold {
  font-family: "Hind", system-ui;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--size-20);
  font-family: "Hind", sans-serif;
  font-weight: 600;
  line-height: 1.3;
}

section * {
  max-width: 1080px;
  margin: auto;
}

.container {
  width: 32rem;
  max-width: 33.75rem;
  min-height: 33.75rem;
}

ul { list-style: none;}
a { text-decoration: none; }
svg { width: 100%; }

p {
  font-size: var(--size-16);
  color: var(--font-color-light);
}

.link-text { 
  color: var(--font-color-light);
  transition: ease-in-out 0.3;
}

.link-text:hover { color: var(--font-color-link); }
.section-spacer { margin-top: var(--size-100); }
.section-text { text-align: center; }

.btn-blue {
  background-color: var(--font-color-link);
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid transparent;
  font-size: var(--size-12);
  color: var(--white);
}